common:
  # mode: "paper-trading"
  mode: "backtest"
  trade_lot_vol: 100
  redis:
    host: localhost
    port: 6379
    db: 0
    password: ${REDIS_PASSWORD}

trading:
  pending_order_expiry: 10 # seconds
  strategy:
    strategy_class: playground.ma60_support_live.MA60SupportStrategyLive
    stop_loss: 1.6
    take_profit: 3.2
    take_profit_slip: ["max_pct", 0.03]
    stop_loss_slip: ["max_pct", 0.08]
    max_position_size: 1
    max_position_opens: 10000
    min_trade_amount: 0
    signals_percent_range: [0, 100]
    custom_params:
      ma60_support_thres: 2.5
      min_volatility: 1.5
      signal_below_support_thres: 0.75

  periodic_tasks:
    tick_fetch_interval: 3
    assets_sync_interval: 2
    cancel_expired_orders_interval: 5
  timeouts:
    download_quote: 3
    handle_pre_market_open_call: 240 # 4 mins
    compute_open_indicators: 228 # < 3.8 mins
    handle_cont_trade: 2
    handle_cont_trade_pre_close: 180 # 3 mins
    compute_close_indicators: 120 # 2mins
  broker:
    host: "192.168.31.47"
    port: 8000
  xtquant:
    account_id: "12345678"
    qmt_data_path: C:\软件\国金QMT交易端模拟\userdata_mini
    price_type: "FIX_PRICE" # options are: "FIX_PRICE", "LATEST_PRICE", "BEST_5", not yet supported

schedules:
  update_datasets: "0 20 * * *"
  warm_broker_db: "0 9 * * *"
  flush_broker_cache: "5 15 * * *"

notifications:
  wechat:
    token: ${PUSH_PLUS_TOKEN}
    topic: TradePy
