name: Run tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ "*" ]

jobs:
  run-tests:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/namoshizun/tradepy:test
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Run Pytest
      run: |
        poetry install --with=main,test
        poetry run pytest --cov
